/nbproject/private/
/nbproject
/home/nbproject
/node_modules
/home/all.js
/home/angular.js
/home/agilefirst.js
/home/styles.css
/home/agilefirst.css
/home/index.min.html
/home/css/styles.css
/home/css/agilefirst.css
/home/dist/
/app/dist/
/app/agilefirst.css
/app/agilefirst.js
/gulp-assets-version-replace-version.json
/.DS_Store
/home/scripts/constant.js